@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  padding: 3rem 0;
}
@media (min-width: 640px) {
  section {
    padding: 4rem 0;
  }
}
@media (min-width: 768px) {
  section {
    padding: 7rem 0;
  }
}
.btn {
  @apply py-2 px-6 flex flex-row items-center justify-center gap-2 rounded-md capitalize outline-none transition-all shadow-lg whitespace-nowrap text-white text-sm tracking-wide;
}
.btn-primary {
  @apply bg-sky-600 hover:bg-sky-500;
}
.btn-secondary {
  @apply bg-slate-800 hover:bg-sky-700;
}
.btn-outline {
  @apply border border-slate-600 hover:bg-slate-800;
}

.social_Link {
  @apply w-4 md:w-5 lg:w-6 h-4 text-xl cursor-pointer hover:text-sky-600 hover:-translate-y-1 transition-all;
}
